h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
  color: #64B5F6 !important;  
  letter-spacing: -0.3px;
}

h1 {
  color: #90CAF9 !important;  
}


[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3,
[data-md-color-scheme="default"] h4,
[data-md-color-scheme="default"] h5,
[data-md-color-scheme="default"] h6 {
  color: #1976D2 !important;  
}